.heroButtonEffect {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  background: #181a22;
  z-index: 1; /* Ensure button is above its glow */
}

.heroButtonEffect::before, .heroButtonEffect::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  border-radius: 9999px;
  animation: 3s spin linear infinite;
  transition: opacity 0.5s;
  opacity: 0;
}
.heroButtonEffect::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}
.heroButtonEffect:hover::before, .heroButtonEffect:hover::after {
  opacity: 1;
}


@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
